{% extends 'layout-default.html' %}
{% load static %}

{% block content %}
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="subtitle is-1">{{ project.title }}</h1>
            <figure class="image is-4by3">
                <img src="{% static project.image %}" alt="">
            </figure>
        </div>
        <div class="column">
            <div class="section is-medium">
                <h2 class="subtitle is-3">
                    About the project:</h2>
                <p>{{ project.description }}</p>
                <br />
                <h2 class="subtitle is-3">
                    Technology used:</h2>
                <p>{{ project.technology }}</p>
            </div>
        </div>
    </div>
{% endblock  %}